// reset

:root{
    --electric-blue: #0282fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
     font-family:Verdana, Geneva, Tahoma, sans-serif
 }

.container {
    margin: 0 auto;
    max-width: 1200px;
}

main {
    background-color: black;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    padding: 10px;
}